// Fuentes
$fuente-principal: 'Outfit', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;
$xl_desktop: 1200px;

// Colores
$anaranjado: #F97316;
$azul: #007df4;
$azul2: #17769E;
$blanco: #FFFFFF;
$blanco2: #E0E4EC;
$gris: #64748B;
$gris-claro: #F8FAFC;
$gris-oscuro: #1E293B;
$morado: #A855F7;
$negro: #1a1b15;
$rojo: rgb(169, 0, 0);
$secundario: #00c8c2;
$verde: #02db02;
$verde2: #59910B;

// Fuentes
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900